<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h3>Bank service Application</h3>
    </header>
    <main>
         <div class="main_login"> 
            <h2>Log In</h2>
            <!-- event Binding Using Event Methode -->
            <!-- ---------------------------------------------- -->
            <!-- <input type="text" class="accno" placeholder ="account no:" id="accno" name="psw"(change)="accnumber($event)">
            <input type="text" class="psw" placeholder="password:" id="psw" name="psw"   (change)="passwords($event)"> -->
            <!-- --------------------------------------------------------- -->
            <!-- event binding Using template rendering variable methode -->
            <!-- ------------------------------------------------------------------->
            <!-- <input type="text" class="accno" placeholder ="account no:" id="accno" name="psw" #accno>
            <input type="text" class="psw" placeholder="password:" id="psw" name="psw" #password >
            <button class="btn" id="log_btn" (click)="login(accno , password)">Log In</button> -->
            <!-- ------------------------------------------------------------------------------- -->
            <!-- #two way binding  -->
              <!-- 1.methode ngmodel -->
              <!-- ----------------------------------------------------------------------------------------- -->
            <input type="text" class="accno" placeholder ="account no:" id="accno" name="psw" [(ngModel)]="data">
            <input type="text" class="psw" placeholder="password:" id="psw" name="psw" [(ngModel)]="pass" >
            <button class="btn" id="log_btn" (click)="login()">Log In</button>
            <a href="" routerLink="register">Sign Up</a>
            
            <!-- --------------------------------------------------------------------------------------- -->
         </div>
    </main>
       

   
</body>
</html>
 